@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #4285F4;
$mdc-theme-secondary: #fff;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
$mdc-theme-link-background: #4285F4